<table class="tx-mrkeperson" >
	<tr>
		<td>
			<f:translate key="tx_mrkeperson_domain_model_person.lastname" />
		</td>
		<td>
			{person.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mrkeperson_domain_model_person.firstname" />
		</td>
		<td>
			{person.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mrkeperson_domain_model_person.cv" />
		</td>
		<td>
			{person.cv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mrkeperson_domain_model_person.image" />
		</td>
		<td>
			{person.image}
		</td>
	</tr>
</table>