<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h3 class="text-left">
    <f:translate key="change_password_header"/>
</h3>
<p class="text-left">
    <f:format.nl2br><f:translate key="change_password_message" arguments="{0: settings.newPasswordMinLength}"/></f:format.nl2br>
</p>

<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <div class="alert alert-primary">
            <f:translate key="LLL:EXT:site_mobilitri/Resources/Private/Language/locallang.xlf:password_validation_error" />
        </div>
    </f:if>
</f:form.validationResults>

<f:form action="changePassword" method="post">
    <div class="form-group">
        <label>
            <f:translate key="newpassword_label1"/>
        </label>
        <f:form.password name="newPass" additionalAttributes="{autocomplete: 'new-password'}" class="form-control" />

    </div>
    <div class="form-group">
        <label>
            <f:translate key="newpassword_label2"/>
        </label>
        <f:form.password name="newPassRepeat" additionalAttributes="{autocomplete: 'new-password'}" class="form-control" />

    </div>
    <f:form.hidden name="hash" value="{hash}"/>
    <div class="row">
        <div class="col-lg-6">
            <f:form.submit class="btn btn-secondary" value="{f:translate(key: 'change_password')}"/>
        </div>
        <div class="col-lg-6 text-right mt-2">
            <f:link.action action="login" controller="Login">
                <f:translate key="forgot_header_backToLogin"/>
            </f:link.action>
        </div>
    </div>

</f:form>


</html>
