<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:spaceless>
    <link rel="apple-touch-icon" sizes="180x180" href="{f:uri.image(src:'{faviconTypo3Path}apple-touch-icon.png')}">
    <link rel="icon" type="image/png" sizes="32x32" href="{f:uri.image(src:'{faviconTypo3Path}favicon-32x32.png')}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{f:uri.image(src:'{faviconTypo3Path}favicon-16x16.png')}"/>
    <link rel="manifest" href="{f:uri.resource(path:'{faviconPath}site.webmanifest', extensionName:faviconExt)}" >
    <link rel="mask-icon" href="{f:uri.image(src:'{faviconTypo3Path}safari-pinned-tab.svg')}" color="#5bbad5"/>

    <f:comment>
        <link rel="icon" type="image/png" sizes="192x192" href="{f:uri.image(src:'{faviconPath}android-chrome-192x192.png')}"/>
        <link rel="icon" type="image/png" sizes="384x384" href="{f:uri.image(src:'{faviconPath}android-chrome-384x384.png')}"/>
        <link rel="shortcut icon" href="{f:uri.resource(path:'{faviconPath}favicon.ico')}" type="image/x-icon"/>
    </f:comment>
</f:spaceless>
</html>