<label for="lastname">
	<f:translate key="tx_mrkeperson_domain_model_person.lastname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="firstname">
	<f:translate key="tx_mrkeperson_domain_model_person.firstname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="cv">
	<f:translate key="tx_mrkeperson_domain_model_person.cv" />
</label><br />
	<f:form.upload property="cv" /><br />
<label for="image">
	<f:translate key="tx_mrkeperson_domain_model_person.image" />
</label><br />
	<f:form.upload property="image" /><br />